# vim: set ft=bash

alias v='vim'
alias l=ls
alias ll='ls -la'
alias sl='ls'
alias opn=open
alias venv=virtualenv
alias grep='grep --color=auto'
alias vus='vagrant up && vagrant ssh'
alias pp='echo cd `pwd` | pbcopy'

alias rebash="exec bash"
alias redoc='$(boot2docker shellinit)'

alias gcc='gcc-4.9'
alias 'g++'='g++-4.9'

alias py=python
alias py3=python3

alias gco='git checkout'
alias gd='git diff'
alias gs='git status'
alias gb='git branch'
alias gn='git net'
alias gp='git pull'
