[user]
	email = iankronquist@teleport.com
	name = Ian Kronquist
[core]
	editor = vim
	excludesfile = /home/ian/.gitignore
[alias]
	net = log --graph --all --decorate
[color]
	branch = auto
	diff = auto
	status = auto
[push]
	default = simple
