[user]
	email = i_kronquist@apple.com
	name = Ian Kronquist
[core]
	editor = vim
	excludesfile = ~/.gitignore
	autocrlf = input
[push]
	default = simple
[alias]
	net = log --graph --all --decorate
	# Stolen from https://github.com/GitAlias/gitalias/blob/master/gitalias.txt
	churn = !git log --all -M -C --name-only --format='format:' "$@" | sort | grep -v '^$' | uniq -c | sort
	stash-all = stash save --include-untracked
	prune = fetch --prune
[init]
	defaultBranch = main
