XTerm*faceName: Liberation Mono
Xcursor.size: 32


Xft.dpi: 180
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

xterm*faceSize: 11
!xterm*vt100*geometry: 80x60
xterm*saveLines: 16000
xterm*loginShell: true
!supposed to allow sane copy/paste.
XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

!fix alt key in xterm
XTerm*metaSendsEscape: true

*xterm*background: #333333
*xterm*foreground: #ffffe2
xterm.color0: #333333
xterm*color8: #666666
xterm.color1: #d15517
xterm*color9: #d11723
xterm.color2: #36b217
xterm*color10: #00d56a
xterm.color3: #d1b217
xterm*color11: #ffea55
xterm*color4: #55aaff
xterm*color12: #1793d1
xterm*color5: #b217d1
xterm*color13: #d11793
xterm.color6: #93d1b2
xterm*color14: #17d1b2
xterm*color7: #eeeeee
xterm*color15: #ffffff


URxvt.scrollBar: false
URxvt.cursorBlink: false
URxvt.imLocale: en_US.utf8
URxvt.termName: screen-256color
URxvt.fading: 0
URxvt.saveLines: 65535
URxvt.visualBall: true
URxvt.lineSpace: 1

URxvt.perl-ext-common: default,url-select,font-size

URxvt.font: xft:monaco:size=9,
!URxvt.font: xft:Source Code Pro for Powerline:style=regular:size=24, \
!            xft:Ubuntu Mono:style=Regular:size=24
! launchers
URxvt.url-select.launcher: urxvt_launcher
URxvt.url-select.underline: true
URxvt.url-select.button: 3
URxvt.matcher.pattern.1: \\b(https?:\/\/[^ ]+)\\b
URxvt.matcher.pattern.2: \\b(([Bb][Uu][Gg]) ?#?[0-9]+)\\b

URxvt.iso14755_52: false
URxvt.iso14755: false

! Fake transparency
URxvt.inheritPixmap: true
URxvt.transparent: true
URxvt.shading: 0
URxvt.tintColor: white

! Bindings
URxvt.keysym.C-Up: perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease

URxvt*background: #333333
URxvt*foreground: #ffffe2
URxvt.color0: #333333
URxvt*color8: #666666
URxvt.color1: #d15517
URxvt*color9: #d11723
URxvt.color2: #36b217
URxvt*color10: #00d56a
URxvt.color3: #d1b217
URxvt*color11: #ffea55
URxvt*color4: #55aaff
URxvt*color12: #1793d1
URxvt*color5: #b217d1
URxvt*color13: #d11793
URxvt.color6: #93d1b2
URxvt*color14: #17d1b2
URxvt*color7: #eeeeee
URxvt*color15: #ffffff


